/* 全画面共通 */

*{
  font-family: TsukuARdGothic-Regular;
}

a {
  text-decoration: none;
}
.mainimage img{
width:100%;
}


ul{
  padding: 0;
}

h1{
  font-weight: normal;
  font-size:24px;
}

h2{
  
  font-weight:normal;
  font-size:16px;
}

li {
  list-style-type:none;
}



/* school閉じる・もっとみる */
.txt-hide-1{
display: none;
}

button.more-1 {
width: 120px;
margin: 20px auto;
display: block;
background-color: #666;
color: #fff;
padding:10px 15px;
border: none;
outline: 0;
transition: .5s;
-erbkit-transition: .5s;
}
 
button.more-1::after {
content: "viewmore";
transition: .2s;
-erbkit-transition: .2s;
}

button.more-1.on-click::after{
content: "close";
}

/* work 閉じる・もっとみる*/
.txt-hide-2{
  display: none;
  }
  
  button.more-2 {
  width: 120px;
  margin: 20px auto;
  display: block;
  background-color:#666;
  color: #fff;
  padding:10px 15px;
  border: none;
  outline: 0;
  transition: .5s;
  -erbkit-transition: .5s;
  }
   
  button.more-2::after {
  content: "viewmore";
  transition: .2s;
  -erbkit-transition: .2s;
  }
  
  button.more-2.on-click::after{
  content: "close";
  }
  
/* now閉じる */
.txt-hide-3{
  display: none;
  }
  
  button.more-3 {
  width: 120px;
  margin: 20px auto;
  display: block;
  background-color: #666;
  color: #fff;
  padding:10px 15px;
  border: none;
  outline: 0;
  transition: .5s;
  -erbkit-transition: .5s;
  }
   
  button.more-3::after {
  content: "view more";
  transition: .2s;
  -erbkit-transition: .2s;
  }
  
  button.more-3.on-click::after{
  content: "close";
  }
  
/* リンクのボタン */
a.btn-border {
  border:1px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}

/* 
問い合わせ */

#contact {
  width: 100%;
  height: 100%;
}


.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}